# Network
NEXT_PUBLIC_CHAIN_ID=84532

# Frontend -> API
NEXT_PUBLIC_API_URL=http://localhost:3001

# Contracts
NEXT_PUBLIC_CHESS_PIECES_ADDRESS=
NEXT_PUBLIC_CHESS_CREDITS_ADDRESS=
NEXT_PUBLIC_MARKETPLACE_ADDRESS=

# API
PORT=3001